* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: "微软雅黑";
    background-color: #fff;
}

/* header */

header {
    height: 60px;
    background-color: #222;
}

nav {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

nav .logo {
    display: inline-block;
    float: left;
}

nav ul {
    display: inline-block;
    float: left;
    margin-bottom: 0;
    list-style: none;
    overflow: hidden;
}

nav ul li {
    float: left;
    height: 60px;
}

nav ul li a {
    display: inline-block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    color: #fff;
}

nav ul li a:hover {
    background-color: #404040;
    color: #fff;
    text-decoration: none;
}

/* end header */

/* content */

.content {
    width: 1200px;
    margin: 0 auto;
}

.content .banner img {
    display: block;
    width: 100%;
}

/* end content */
